/* IAN MCDONALD */

/* Color */
body        { color:      royalblue; }
g           { stroke:     royalblue; }
.inverter g { fill:       royalblue; }
.invert     { background: royalblue; }

/* Base */
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
  box-sizing: content-box;
  background: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.invert {
  color: white;
}
header {
  display: none;
  padding: 2em 1em 0 1em;
}
main {
  display: block;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 90%;
  transform: translateY(-50%);
  margin: 0 5%
}
footer {
  margin: 4em 0 2em 0;
}
h1 {
  margin: 0 0 0.75em 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  color: inherit;
}
p {
  max-width: 30em;
  margin: 0 0 0.75em 0;
}
small {
  display: inline-block;
  font-size: 0.75em;
}
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: ink;
}
a:hover {
  text-decoration: none;
}
table {
  display: block;
  width: 100%;
  margin: 4em 0;
  border-collapse: collapse;
  border-color: inherit;
  border-spacing: 0;
}
tr {
  margin-bottom: 1.25em;
  display: block;
}
th {
  display: none;
}
td {
  display: block;
  padding: 0;
}
th {
  padding: 1em 0 0.75em 0;
  margin: 0;
  border: none;
  border-bottom: 2px solid;
  text-align: left;
  font-weight: bold;
  font-size: 1em;
}
td {
  margin: 0;
  border: none;
}
@media (min-width: 40em) {
  table {
    display: table;
  }
  tr {
    display: table-row;
  }
  th {
    display: table-cell;
    padding: 1em 0 0.75em 0;
  }
  td {
    display: table-cell;
    padding: 1.25em 0 0 0;
  }
}
.magick {
  position: relative;
  margin: 0 auto;
  max-width: 35em;
  height: 15em;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 20em) {
  .magick {
    height: 20em;
  }
}
@media (min-width: 30em) {
  .magick {
    height: 30em;
  }
}
.magick svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#opaque {
  opacity: 1 !important;
}
g {
  fill: none;
  fill-rule: evenodd;
  stroke-width: 2;
}
.invert g {
  stroke: white;
}
.invert .inverter g {
  fill: white;
  stroke-width: 0;
}
.inverter {
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;

  display: none;
}
.inverter g {
  stroke: none;
}
