---
# ianmcdonald.ca
---
@charset "utf-8";

// Typography
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.7;

// Colours
$dark: lighten(rgb(27, 24, 23), 5%);
$light: rgb(250,250,250);
$secondary: rgb(198, 68, 120);

// Base
html {
    font-size: $base-font-size;
}
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
    font-family: $base-font-family;
    font-size: 0.9em;
    line-height: $base-line-height;
    font-weight: 400;
    color: $dark;
    background-color: $light;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
figure > img {
    display: block;
}
figcaption {
    font-size: 0.65em;
}
ul {
    list-style-type: none;
} 
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}
h1 {
    min-width: 240px;
    position: fixed;
    top: -0.45em; 
    left: 2vw;
    font-size: 2.25em;
    letter-spacing: 0.075em;    
    transition: all 0.5s ease;
    line-height: 1;
    display: inline-block;
    width: 100%;
    &:hover, &:focus {
        outline: none;
        top: -0.125em;
             }
    > a {
        padding-bottom: 0.75em;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
a {
    color: $secondary;
    text-decoration: none;
    border-bottom: 2px dotted transparent;
    transition: all 0.5s ease;
    padding-bottom: 0.5em;
    &:hover, &:focus, &:active {
        color: $dark;
        border-bottom-color: $dark;                  
        text-decoration: none;
        border-color: $secondary;
        outline: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        padding-bottom: 0.125em;
    }
}
pre,
code {
    font-size: 0.95em;
    border-radius: 0;
    line-height: 1.325;
}
code {
    font-family: Menlo, "Droid Sans Mono", monospace;
}
pre {
    overflow-x: scroll;
    color: rgb(246,246,246);
    font-size: 0.9em;
    line-height: 1.45;
    padding: 1.25em 0.75em;;
    margin: 1em 0;
    > code {
        padding-right: 0;
        padding-left: 0;
        border: 0;
    }
}

// Layout
ul.post-list {
    min-height: 66vh;
    margin-top: 9vh;
    padding: 0.5em 1em 4em 1em;
    border-color: $dark;
    border-style: solid;
    border-width: 8px;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    -webkit-box-shadow: -2px -2px 0 0px $light,
    -4px -4px 0 0px $dark,
    -6px -6px 0 0px $light,
    -8px -8px 0 0px $dark;
    box-shadow: -2px -2px 0 0px $light,
                -4px -4px 0 0px $dark,
                -6px -6px 0 0px $light,
                -8px -8px 0 0px $dark;
}
ul.post-list li {
    width: 100%;
    margin: 0.5em 0;
    font-size: 1em;
    line-height: 1.25;
    @media (min-width: 500px) {
        font-size: 1.25em;
    }
}
ul.post-list li span {
    display: inline-block;
    padding-right: 0.25em;
    @media (max-width: 400px) {
        display: block;
        width: 100%;
    }
}
ul.post-list li a {
    display: inline;
    @media (max-width: 400px) {
        width: 100%;
    }
}
ul.whatever {
    text-align: right;
    font-size: 0.675em;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    @media (min-width: 500px) {
        font-size: 0.85em;
    }
}
ul.whatever li {
    display: block;
    padding-left: 0.25em;
    @media (min-width: 300px) {
        display: inline-block;
    }
}
ul.whatever li:first-child {
    display: block;
}
.post {
    margin-top: 33vh;
    margin-bottom: 10em;
}
.post-title {  
    font-size: 2em;
    line-height: 0.9;
}
.post-meta {    
    margin-bottom: 2em;
    font-size: 1.25em;
}
.back-home {
    position: absolute;
    display: inline-block;
    margin: 2em 0;
}

// Code styles
.highlight{
    background-color: #073642;
    color: #93a1a1;
    border: 1px solid #2d6472;
    border-radius: 0.25em;
    margin: 1em 0;
}
// Solarized dark
.highlight .c{color:#586e75 !important;font-style:italic !important}.highlight .cm{color:#586e75 !important;font-style:italic !important}.highlight .cp{color:#586e75 !important;font-style:italic !important}.highlight .c1{color:#586e75 !important;font-style:italic !important}.highlight .cs{color:#586e75 !important;font-weight:bold !important;font-style:italic !important}.highlight .err{color:#dc322f !important;background:none !important}.highlight .k{color:#cb4b16 !important}.highlight .o{color:#93a1a1 !important;font-weight:bold !important}.highlight .p{color:#93a1a1 !important}.highlight .ow{color:#2aa198 !important;font-weight:bold !important}.highlight .gd{color:#93a1a1 !important;background-color:#372c34 !important;display:inline-block}.highlight .gd .x{color:#93a1a1 !important;background-color:#4d2d33 !important;display:inline-block}.highlight .ge{color:#93a1a1 !important;font-style:italic !important}.highlight .gr{color:#aa0000}.highlight .gh{color:#586e75 !important}.highlight .gi{color:#93a1a1 !important;background-color:#1a412b !important;display:inline-block}.highlight .gi .x{color:#93a1a1 !important;background-color:#355720 !important;display:inline-block}.highlight .go{color:#888888}.highlight .gp{color:#555555}.highlight .gs{color:#93a1a1 !important;font-weight:bold !important}.highlight .gu{color:#6c71c4 !important}.highlight .gt{color:#aa0000}.highlight .kc{color:#859900 !important;font-weight:bold !important}.highlight .kd{color:#268bd2 !important}.highlight .kp{color:#cb4b16 !important;font-weight:bold !important}.highlight .kr{color:#d33682 !important;font-weight:bold !important}.highlight .kt{color:#2aa198 !important}.highlight .n{color:#268bd2 !important}.highlight .na{color:#268bd2 !important}.highlight .nb{color:#859900 !important}.highlight .nc{color:#d33682 !important}.highlight .no{color:#b58900 !important}.highlight .ni{color:#800080}.highlight .nl{color:#859900 !important}.highlight .ne{color:#268bd2 !important;font-weight:bold !important}.highlight .nf{color:#268bd2 !important;font-weight:bold !important}.highlight .nn{color:#b58900 !important}.highlight .nt{color:#268bd2 !important;font-weight:bold !important}.highlight .nx{color:#b58900 !important}.highlight .bp{color:#999999}.highlight .vc{color:#008080}.highlight .vg{color:#268bd2 !important}.highlight .vi{color:#268bd2 !important}.highlight .nv{color:#268bd2 !important}.highlight .w{color:#bbbbbb}.highlight .mf{color:#2aa198 !important}.highlight .m{color:#2aa198 !important}.highlight .mh{color:#2aa198 !important}.highlight .mi{color:#2aa198 !important}.highlight .mo{color:#009999}.highlight .s{color:#2aa198 !important}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#2aa198 !important}.highlight .s2{color:#2aa198 !important}.highlight .se{color:#dc322f !important}.highlight .sh{color:#d14}.highlight .si{color:#268bd2 !important}.highlight .sx{color:#d14}.highlight .sr{color:#2aa198 !important}.highlight .s1{color:#2aa198 !important}.highlight .ss{color:#990073}.highlight .il{color:#009999}.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%}