body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  font-family: 'helvetica neue', helvetica, roboto, noto, ubuntu, 'segoe ui', arial, sans-serif;
  color: #484848;
  background: #ffffff;
  overflow-x: hidden;
  line-height: 1.7;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
h1 {
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0 0 2rem 0;
  padding: 0;
  line-height: 1;
}
p {
  margin: 0 0 1.5rem 0;
  padding: 0;
  max-width: 30rem;
}
a {
  text-decoration: none;
  color: #5aabff;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}
a:hover {
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 5rem 0;
}
li {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-right: 0.5em;
  left: 0;
  min-width: 4em;
}
main {
  display: block;
  margin: 0 auto;
  max-width: 50rem;
  padding: 2em 0.5em 4em 0.5em;
}
@media (min-width: 30em) {
  h2 {
    font-size: 4em;
  }
}
em {
  display: block;
  font-style: italic;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #894ABA;
  font-weight: 400;
  max-width: 100%;
  padding: 2em 0.5em 0.5em 0.5em;
  line-height: 1.45;
  font-size: 1.5em;
}
.info a {
  color: #894ABA;
  border: none;
  text-decoration: underline;
}
.info a:hover {
  text-decoration: none;
}
.info h1 {
  font-weight: 400;
}
.glyphs {
  position: relative;
  height: 66.66vh;
}
.glyphs-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 25em;
}
.glyphs-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  display: none;
}
@media (min-width: 40em) {
  .glyphs-left {
    width: 50%;
    min-width: 50%;
  }
  .glyphs-right {
    display: block;
  }
}
