* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ff1493;
  font-family: helvetica, arial, roboto, sans-serif;
  text-transform: lowercase;
  display: grid;
}
a {
  color: #008080;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  background-color: #008080;
  color: #000000;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 4em 0;
  padding: 0;
  word-break: break-word;
}
h1 {
  margin-bottom: 5em;
}
header {
  margin: 0;
  padding: 0.25em;
  min-height: 50vh;
  border-bottom: 1px solid;
}
header h1 {
  font-family: courier, monospace;
  max-width: 24.5em;
}
footer {
  margin: 2em 0;
  padding: 0;
}
hr {
  margin: 0 0 1em 0;
  border: none;
  border-top: 1px solid;
}
main {
  margin: 0;
  padding: 0.25em;
  min-height: 50vh;
}
form {
  padding: 0.25em 0;
  display: block;
  width: 100%;
  color: #008080;
  max-width: 24.5em;
}
button, input {
  border: 1px solid #ff1493;
  background: #000000;
  color: #008080;
  margin: 0 0.25em 0.25em 0;
  font-size: 1em;
  line-height: 1;
  padding: 0 0.25em;
  font-weight: normal;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  height: 1.5em;
  display: block;
  width: 100%;
  font-family: courier, monospace;
}
input:focus, input:hover, button:hover, button:focus, button:active {
  border-style: solid;
  background: #ff1493;
  color:  #000000;
}
@media (min-width: 50em) {
  body {
    font-size: 2vw;
    grid-template-columns: 50% 50%;
  }
  form, header h1 {
    position: fixed;
    top: 0;
    left: 0.25em;
    padding: 0.25em 0;
  }
  header {
    border-bottom: none;
    border-right: 1px solid;
}
