* {
  box-sizing: border-box;
}
html {
  background: #bd28eb;
}
body {
  font-size: 24px;
  font-weight: bold;
  max-width: 40em;
  min-height: 100vh;
  margin: 0;
  padding: 0.25em;
  background: #d3d3d3;
  color: #bd28eb;
  font-family: helvetica, arial, roboto, sans-serif;
}
a {
  color: #bd28eb;
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: line-through;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0;
}
header {
  margin: 0 0 3em 0;
  padding: 0;
}
footer {
  margin: 3em 0;
  padding: 0;
}
main {
  margin: 0;
  padding: 0;
}
