/* Ian McDonald */

* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 auto;  
  padding: 0;
  color: black;
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}
main {
  display: block;
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 35em;
}
section {
  display: block;
  margin: 0;
  padding: 2em 0;
}
article {
  display: block;
  margin: 0;
  padding: 0 0 4em 0;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.1em solid;
}
a:hover, a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
  border-bottom-color: transparent;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  position: relative;
  list-style-type: none;
  margin: 0.25em 0;
  padding-left: 1em;
}
li:before {
  content: '\2014';
  position: absolute;
  left: 0;
}
h1, h2 {
  font-weight: 600;
  font-size: 1em;
  margin: 0 0 0.25em 0;
  padding: 0;
  text-transform: uppercase;
}
h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: 600;
  margin: 0.5em 0;
  padding: 0;
}
p {
  margin: 0 0 0.5em 0;
  text-indent: 0;
}
blockquote {
  display: block;
  margin: 1em auto;
  padding: 1.5em 0.5em;
  background-color: black;
  color: white;
}
blockquote p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 1em auto;
  padding: 0;
  display: block;
  text-align: center;
}
figcaption {
  display: block;
  font-size: 1em;
  margin: 0 auto;
}
small {
  font-size: 0.5em;
  display: inline-block;
}
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
  font-weight: 600;
}
footer.banner { 
  transform: scale(1,-1);
}
.banner .name {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  padding: 2em 0.5em;
  line-height: 1;
  color: transparent;
  background-color: transparent;  
  z-index: 0;
  border: 0.1em solid;
  border-radius: 50%;
  height: 7em;
  width: 7em;
  text-align: center;
  transform: rotate(-19deg);
}
.banner .name:after {
  content: 'IAN';
  display: block;
  transform: scale(-1,-1);
  line-height: 0.875;
}
.hovering {
  color: transparent;
}
.hovering .name {
  color: white;
  background-color: black;
}
.line {
  border-bottom: 0.1em solid;
  position: absolute;
  height: 0;
  width: 95vh;
  max-width: 95vh;
  transform-origin: center;
  z-index: 1;
}
.line a {
  position: absolute;
  bottom: 0;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: none;
}
.line a:hover {
  color: white;
}
.line-a {
  transform: rotate(69deg);
}
.line-b {
  transform: rotate(-69deg);
}
.line-c {
  width: 100vw;
  max-width: 100vw;
  transform: rotate(-19deg);
}
.link-left {
  left: 0;
}
.link-right {
  right: 0;
}
.posts, .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;
  width: calc(100% + 0.5em);
}
.posts li, .items li {
  display: inline-block;
  margin: 0 0.25em 0.25em 0;
  padding: 0;
}
.posts li a, .items li a {
  margin: 0;
  display: inline-block;
  padding: 0.125em 0.25em 0 0.25em;
  background-color: transparent;
  border: 0.1em solid black;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
}
.posts li a:hover, .posts li a:focus, .items li a:hover, .items li a:focus {
  background-color: transparent;
  color: black;
  border-color: transparent;
}
.posts li:before, .items li:before {
  content: '';
}
@media (min-width: 40em) {
  body {
    font-size: 1.5em;
  }
}
@media (min-width: 60em) {
  body {
    font-size: 1.75em;
  }
}
