body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
    max-width: 1200px;
    padding: 1em;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $dark;
    background-color: $light;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
figure > img {
    display: block;
}
figcaption {
    font-size: 0.65em;
}
ul {
    list-style-type: none;
}
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
h1 {
    font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
a {
 //   color: blue;
 //   text-decoration: none;
    &:hover {      
 //       text-decoration: none;      
    }
}
pre,
code {
    font-size: 1em;
    border-radius: 0;
    line-height: 1.325;
}
code {
    padding: 0.25em;
    font-family: 'Menlo', 'Inconsolata', monospace;
}
pre {
    padding: 1.5em;
    margin: 2em 0;
    overflow-x: scroll;
    background-color: $dark;
    color: lighten(rgb(135,135,135), 10%);
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}