/* ===========================
Base
=========================== */
body {
  display: block;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  font-family: 'georgia', serif;
  font-weight: normal;
  line-height: 1.7;
  background: white;
}
main {
  display: block;
  margin: 0 auto;
  max-width: 40em;
}
header {
  display: block;
  text-align: center;
  margin: 0 auto 1em auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
pre {
  background-color: #383838;
  color: floralwhite;
  padding: 1.5em 1em;
  margin: 2em 0;
  border-radius: 0 2em;
  font-family: 'menlo', monospace;
}


/* ===========================
Typography
=========================== */
h1 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}
h1 a {
  border-bottom: none;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
h3 {
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  letter-spacing: 0.25em;
}
p {
  margin: 0.75em 0 1.25em 0;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed;
  background: transparent;
}
a:hover {
  color: white;
  border-color: transparent;
}


/* ===========================
Helpers
=========================== */
.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.uppercase {
  text-transform: uppercase;
}
.original {
  margin-bottom: 0.25em;
}
.mirror {
  -webkit-transform: scale(1,-1);
  transform: scale(1,-1);
}
.avatar {  
  display: block;
  position: relative;
  margin: 3em auto;
  max-width: 15em;
  border-radius: 0 2em;
  overflow: hidden;
  opacity: 0.5;
}
.avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.avatar img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  min-width: 100%;
}


/* ===========================
Boxes
=========================== */
.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -0.5em;
  padding: 0;
  list-style-type: none;
}
.boxes li {
  display: block;
  flex-grow: 1;
  margin: 0.5em;
  text-align: center;
}
.boxes a {
  display: block;
  padding: 3em;
  border: 1px dashed;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0 2em;
}
.boxes a:hover {
  border-color: transparent;
}


/* ===========================
Themes 
=========================== */

/* Kind of blue */
body, a { color: steelblue; background: white; }
pre, a:hover, .avatar::after { background-color: steelblue; color: white;}
.boxes a, .boxes a:hover { box-shadow: 0.25em 0.25em steelblue; }

/* Tomato havest
body, a { color: tomato; background: white; }
pre, a:hover, .avatar::after { background-color: tomato; color: white; }
.boxes a, .boxes a:hover { box-shadow: 0.25em 0.25em tomato; }
*/
/* Blueprint
body, a { color: white; background: steelblue; }
pre, a:hover, .avatar::after { background-color: white; color: steelblue; }
.boxes a, .boxes a:hover { box-shadow: 0.25em 0.25em white; }
*/
/* Terminal
body, a { color: #fafafa; background: #383838; }
pre, a:hover, .avatar::after { background-color: #fafafa; color: #383838; }
.boxes a, .boxes a:hover { box-shadow: 0.25em 0.25em #fafafa; }
*/
/* Easter bonnet
body, a { color: aqua; background: plum; }
pre, a:hover, .avatar::after { background-color: aqua; color: plum; }
.boxes a, .boxes a:hover { box-shadow: 0.25em 0.25em aqua; }
*/
