body {
  display: block;
  overflow-x: hidden;
  max-width: 100%;
  margin: 0;
  padding: 1em;
  font-size: 1em;
  font-family: 'georgia', serif;
  font-weight: normal;
  line-height: 1.6;
}
main {
  display: block;
  margin: 0 auto;
  max-width: 60em;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed;
}
h1, a {
  color: tomato;
}
a:hover {
  background: tomato;
}
.center {
  display: block;
  text-align: center;
}
.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3em -0.5em;
  padding: 0;
  list-style-type: none;
}
.boxes li {
  display: block;
  flex-grow: 1;
  margin: 0.5em;
  text-align: center;
}
.boxes a {
  display: block;
  padding: 3em;
  border: 1px dashed;
  border-right: none;
  border-bottom: none;
  border-radius: 0 1.5em;
  box-shadow: 0.25em 0.25em;
}